<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="transformedKey1" value="1" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
		<add key="transformedKey2" value="2" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
    <add key="transformedKey3" value="3" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
    <add key="transformedKey4" value="4" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
