<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="transformedKey1" value="1" />
        <add key="transformedKey2" value="2" />
        <add key="transformedKey3" value="3" />
        <add key="transformedKey4" value="4" />
    </appSettings>
</configuration>